/* ------------Clientes-------------*/
.clientes-container {
	background-color: #fff;
	width:100vw;
	margin: 0, auto;

}


#titulo-cte {
	font-size:1em;
	text-align: center;
	padding: 20px;
	color: #7dce94;

}

@keyframes animate__zoomIn {
  0% {transform: scale(1);}
  50% {transform: scale(1.5);}
  100% {transform: scale(1);}
}

.clientes {
	display: flex;
	width:100%;
	flex-flow: row nowrap;
	justify-content:space-evenly;
	align-items: center;
	color: #7dce94;
	animation: animate__zoomIn; 
	animation-duration: 3s; 
	animation-delay: 3	s;
	animation-iteration-count: 1;
	animation-direction: alternate-reverse;
	animation-timing-function: ease-in;
}


#cliente-box {
	height: 350px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left:50px;
	text-align: center;
	}
